body {
  background-color: black;
  color: white;
}
.trules {
  color: #FF0000;
}
.ctrules {
  color: #429AFF;
}
a {
  color: white;
}
/* visited link */
a:visited {
  color: #C0C0C0;
}

/* mouse over link */
a:hover {
  color: #808080;
}

/* selected link */
a:active {
  color: white;
}
